.card-container {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

  margin-bottom: 20px;
  height: 100%;
}

.card-header {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 12px;
  border-bottom: 1px solid var(--color-border2);
  padding-bottom: 6px;
}
