@import "./core/theme/colors.css";
@import "./core/theme/base.css";

/* (isteğe bağlı) yazı tipi importu */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Global font */
body {
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* Sayfa tam yükseklik */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}